<div class="container main">
    <div class="row header">
        <div class="col title">
            messenger
        </div>
    </div>
    <div class="container message-container">
        <div *ngFor="let event of allEvents; let index = index trackBy: trackByIndex">

            <app-in-message
                *ngIf="event.eventType === 'MSG'"
                [message]='event.message'
            >
            </app-in-message>

            <app-new-user
                *ngIf="event.eventType === 'NEW_USER'"
                [username]='event.username'
            >
            </app-new-user>

        </div>
    </div>
    <div class="row fixed-text-box">
        <div class="col">
            <form [formGroup]="messageForm" (ngSubmit)="onSubmit(messageForm)">
                <textarea
                    type="text"
                    formControlName="msg"
                    class="message-input"
                    resize="none"
                    appDynamicTextarea
                    [minHeight]="29"
                    [maxHeight]="100"
                >
                </textarea>
                <button
                    type="submit"
                    [disabled]="messageForm.invalid"
                    class="send"
                >
                    <i class="fa fa-angle-double-up"></i>
                </button>
            </form>
        </div>
    </div>
</div>

<app-sign-in
    (loginUser)="loginUser($event)"
></app-sign-in>

