<div class="container main">
    <div class="row header">
        <div class="col title">
            messenger
        </div>
    </div>
    <div class="container message-container">
            <app-in-message
                *ngFor="let message of allEvents; let index = index trackBy: trackByIndex"
                [message]='message'
                class='msg'
            >
            </app-in-message>
    </div>
    <div class="row fixed-text-box">
        <div class="col">
            <form [formGroup]="messageForm" (ngSubmit)="onSubmit(messageForm)">
                <textarea
                    type="text"
                    formControlName="msg"
                    class="message-input"
                    resize="none"
                    appDynamicTextarea
                    [minHeight]="29"
                    [maxHeight]="100"
                >
                </textarea>
                <button
                    type="submit"
                    [disabled]="messageForm.invalid"
                    class="send"
                >
                    <i class="fa fa-angle-double-up"></i>
                </button>
            </form>
        </div>
    </div>
</div>

<app-sign-in
    (loginUser)="loginUser($event)"
></app-sign-in>

