<div class="container main">
    <div class="row header">
        <div class="col title">
            messenger
        </div>
    </div>
    <div class="row message-container">
        <div *ngFor="let message of messages; let index = index trackBy: trackByIndex" class="row message">
            <div class="col-3"></div>
            <div class="col text">
                {{ message }}
            </div>
        </div>
    </div>
    <div class="row fixed-text-box">
        <div class="col">
            <form [formGroup]="messageForm" (ngSubmit)="onSubmit(messageForm)">
                <textarea
                    type="text"
                    formControlName="msg"
                    class="message-input"
                    resize="none"
                    appDynamicTextarea
                    [minHeight]="29"
                    [maxHeight]="100"
                >
                </textarea>
                <button
                    type="submit"
                    [disabled]="messageForm.invalid"
                    class="send"
                >
                    <i class="fa fa-angle-double-up"></i>
                </button>
            </form>
        </div>
    </div>
</div>

